@media (max-width: 1250px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .booking {
        flex-wrap: wrap;
    }
    .point_three,
    .booking_button {
        margin-top: 20px;
        flex: 0 0 100%;  /* Элементы на всю ширину */
        display: grid;
        justify-content: center;  /* Оставляем как было */
    }
    .booking_button button{
        margin-left: 0;
    }
    .linie {
        display: none;
    }
}
@media (max-width: 900px) {
    .experience h1 {
        font-size: 40px;
    }

    /* Burger navigation */

    .nav ul {
        display: none; /* Initially hide the menu */
    }
    .burger {
        display: block; /* Show burger on small screens */
    }
}
@media (max-width: 750px) {
    .main_text, .main_video_button {
        margin-left: 50px;
    }
}
@media (max-width: 550px) {
    .main_text p {
        font-size: 11vw;
    }
    .experience h1 {
        font-size: 30px;
    }
    .main_text, .main_video_button {
        margin-left: 35px;
    }
    .main_text {
        margin-top: 150px;
    }
    .main_video_button {
        margin-top: 20px;
    }
}